{{ define "main" }}
<article class="j-blog">
  <div class="n j-blog-meta j-blog-post--header">
    <div class="j-text j-module n">
      <a href="/blog/{{ .Date.Format "2006" }}/" class="j-blog-post--category">{{ .Date.Format "2006" }}</a>
      &nbsp;·&nbsp;<span class="j-blog-post--date">{{ .Date.Format "02.01.2006" }}</span>
    </div>
    <h1 class="j-blog-header j-blog-headline j-blog-post--headline">{{ .Title }}</h1>
  </div>
  <div class="post j-blog-content">
    {{ .Content }}
  </div>
</article>
{{ end }}
