{{ define "main" }}
<div id="content_area">

  <div class="j-module n j-hgrid">

    <div class="cc-m-hgrid-column" style="width: 76.58%;">

      <div class="j-module n j-imageSubtitle">
        <figure class="cc-imagewrapper cc-m-image-align-1">
          <img src="/images/blaskapelle-bad-wiessee.jpg"
               alt="Blaskapelle Bad Wiessee"
               style="max-width:100%;height:auto;">
        </figure>
        <div class="cc-clear"></div>
      </div>

      <div class="j-module n j-spacing">
        <div class="cc-m-spacer" style="height: 50px;"></div>
      </div>

      <div class="j-module n j-header">
        <h1>Herzlich willkommen auf der Homepage der Blaskapelle Bad Wiessee!</h1>
      </div>

      <div class="j-module n j-spacing">
        <div class="cc-m-spacer" style="height: 50px;"></div>
      </div>

      <div class="j-module n j-text">
        <p style="text-align: center;">&nbsp;Wir freuen uns, dieses Jahr wieder mit vielen Auftritten die Veranstaltungen im Ort musikalisch umrahmen zu dürfen.</p>
        <p style="text-align: center;">&nbsp;</p>
        <p style="text-align: center;">Wir spielen bayrisch-böhmische Blasmusik sowie konzertante und moderne Unterhaltungsmusik.</p>
        <p style="text-align: center;">&nbsp;</p>
        <p style="text-align: center;">Die Konzerte finden ab Mai jeden Montag an der Seepromenade Bad Wiessee,</p>
        <p style="text-align: center;">sowie vierzehntägig donnerstags in kleiner Besetzung im Kurpark Abwinkel statt.</p>
        <p style="text-align: center;">Bei Regen entfallen die Konzerte!</p>
      </div>

      <div class="j-module n j-spacing">
        <div class="cc-m-spacer" style="height: 25px;"></div>
      </div>

      <div class="j-module n j-header">
        <h1>"Ohne Musik ist das Leben ein Irrtum."</h1>
      </div>

      <div class="j-module n j-spacing">
        <div class="cc-m-spacer" style="height: 25px;"></div>
      </div>

      <div class="j-module n j-text">
        <p style="text-align: center;">
          <span style="letter-spacing: -0.02em;">Gerne können Sie uns auch für Ihre Veranstaltung buchen.</span>
        </p>
        <p style="text-align: center;">
          <span style="letter-spacing: -0.02em;">Einfach anrufen oder <a href="/kontakt/" title="Kontakt">per E-mail Kontakt aufnehmen</a>.</span>
        </p>
        <p style="text-align: center;">
          <span style="letter-spacing: -0.02em;">Auf den weiteren Seiten finden Sie Interessantes &amp; Historisches rund um die Wiesseer Blaskapelle.</span>
        </p>
        <p style="text-align: center;">
          <span style="letter-spacing: -0.02em;">Viel Spaß beim Lesen.</span>
        </p>
      </div>

    </div><!-- end left column -->

    <div class="cc-m-hgrid-column last" style="width: 21.41%;">

      <div class="j-module n j-spacing">
        <div class="cc-m-spacer" style="height: 15px;"></div>
      </div>

      <div class="j-module n j-header">
        <h2>Die kommenden Termine:</h2>
      </div>

      <div class="j-module n j-spacing">
        <div class="cc-m-spacer" style="height: 25px;"></div>
      </div>

      <div class="j-module n j-hr">
        <hr>
      </div>

      <div class="j-module n j-text">
        <p style="text-align: center;"><strong>Kirchenkonzert</strong></p>
        <p style="text-align: center;"><strong>am Freitag, den 21. April 2023</strong></p>
        <p style="text-align: center;"><strong>um 19 Uhr</strong></p>
        <p style="text-align: center;"><strong>in der</strong></p>
        <p style="text-align: center;"><strong>Kath. Kirche Maria Himmelfahrt</strong></p>
        <p style="text-align: center;"><strong>in Bad Wiessee</strong></p>
      </div>

      <div class="j-module n j-hr">
        <hr>
      </div>

      <div class="j-module n j-spacing">
        <div class="cc-m-spacer" style="height: 50px;"></div>
      </div>

      <div class="j-module n j-text">
        <p style="text-align: center;">
          Die Konzertsaison beginnt im Mai 2023!
        </p>
        <p style="text-align: center;">
          Wir freuen uns heute schon, Sie wieder musikalisch unterhalten zu dürfen!
        </p>
      </div>

      <div class="j-module n j-text">
        <p style="text-align: center;">
          <a href="/termine/" title="Termine">zu allen Terminen &gt;&gt;</a>
        </p>
      </div>

      <div class="j-module n j-spacing">
        <div class="cc-m-spacer" style="height: 50px;"></div>
      </div>

      <div class="j-module n j-callToAction">
        <div class="j-calltoaction-wrapper j-calltoaction-align-2">
          <a class="j-calltoaction-link j-calltoaction-link-style-2" href="/mach-mit/">
            Möchtest Du Musikant werden? Erfahre mehr, was Du mitbringen musst und wann/wo geprobt wird.
          </a>
        </div>
      </div>

    </div><!-- end right column -->

    <br class="cc-clear">

  </div><!-- end hgrid -->

  <div class="j-module n j-spacing">
    <div class="cc-m-spacer" style="height: 50px;"></div>
  </div>

</div><!-- end content_area -->
{{ end }}
